# API Configuration
VITE_API_URL=https://localhost:7288/api

# Firebase Configuration (to be configured when implementing notifications)
VITE_FIREBASE_API_KEY=AIzaSyDqsjLP5mH285iUHgFZpdT9PHV1s6zJb9k
VITE_FIREBASE_AUTH_DOMAIN=roster-system-f42cf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=roster-system-f42cf
VITE_FIREBASE_STORAGE_BUCKET=roster-system-f42cf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=197640018435
VITE_FIREBASE_APP_ID=1:197640018435:web:113f29d0494b0fe189cc36
VITE_FIREBASE_VAPID_KEY=BAMfhKWeMQsww5c8bJuYeGUrK9b0NxGlZppfBB5997MjgaROHjUe_aCgXvYO8ng2_Q1tdxu4lcmuQ9ckt1fgsX8